@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
.card {
  display: flex;
  align-items: center;
}

body {
  height: 100vh;
  background: #19a2ae;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
.card {
  flex-direction: column;
  background: #fff;
  padding: 5rem;
  border-radius: 1rem;
}
h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 700;
}
input {
  border: none;
  border-bottom: 1px solid #333;
  margin-bottom: 1rem;
  padding: 0 1rem;
  width: 100%;
  height: 3rem;
}
.search {
  position: relative;
}
.error-msg {
  position: absolute;
  top: 3.5rem;
  right: 1rem;
  font-size: 1.2rem;
}

.btn {
  padding: 0.5rem 2rem;
  margin-top: 1.7rem;
  background: #19a2ae;
  border: none;
}

.btn-1 {
  margin-right: 2rem;
}

.btn-1:hover,
.btn-2:hover {
  background: #2bcbda;
}

input:focus,
.btn {
  border-radius: 6px;
}

.result {
  width: 100%;
  height: 10rem;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
p {
  font-size: 2rem;
}
